{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="card shadow p-3 mb-5 bg-dark text-white rounded">
              <h1 class="card-title">Singles</h1>
            </div>  
          </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-dark text-white rounded">
              <div class="card-body">
                <h5 class="card-title">Bare Witness (feat. Vuyani)</h5>
                <p class="card-text">Featuring South African instrumentalist Vuyani Mjoli of <strong>The Black Jackets</strong></p>
                <div>
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344826160&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Released 30 Sep 2017</small>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-dark text-white rounded">
              <div class="card-body">
                <h5 class="card-title">Work (part 2)</h5>
                <p class="card-text"></p>
                <div>
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314392164&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Released 24 March 2017</small>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-dark text-white rounded">
              <div class="card-body">
                <h5 class="card-title">Everything Will Be Fine (feat. Brotha Nigel)</h5>
                <p class="card-text">This song features Zimabwean emcee <strong>Brotha Nigel</strong>.</p>
                <div>
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290001715&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Released 25 Oct 2016</small>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-dark text-white rounded">
              <div class="card-body">
                <h5 class="card-title">The Telegraph (feat. Timi Kay and Sir Dave)</h5>
                <p class="card-text">This song features Nigerian emcee <strong>Timi Kay</strong> and South African emcee <strong>Sir Dave</strong>.</p>
                <div>
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/269867356&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Released 18 June 2016</small>
              </div>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}